@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  color: #26272d;
  font-size: 42px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 12px;
}

p {
  color: #8c8f94;
  font-size: 20px;
}

.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 43px;
  min-width: 133px;
  border-radius: 20px;
}

.btn__item {
  padding: 10px 5px;
}

.header {
  background: url("../img/mountain-bg.png") no-repeat;
  background-size: cover;
  padding: 43px 0 0 0;
  overflow: hidden;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 400px) {
  .header__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  padding: 0 30px;
}

@media (max-width: 425px) {
  .header__logo {
    padding: 0;
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 62px;
  margin-top: 113px;
  text-align: center;
}

.header__text {
  max-width: 780px;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  color: #8c8f94;
}

.header__btn {
  border: 1px solid #dedbde;
  color: #26272d;
  margin-top: 41px;
  margin-bottom: 55px;
}

.header__img {
  margin-bottom: -297px;
}

.menu1__burger {
  margin-right: 30px;
}

@media (max-width: 400px) {
  .menu1__burger {
    margin: 20px 0;
  }
}

.menu1__link {
  margin-right: 40px;
  font-size: 16px;
  color: #26272d;
}

@media (max-width: 785px) {
  .menu1__link {
    display: none;
  }
}

.menu1__link:last-child {
  margin-right: 0;
}

.link-active {
  color: #b5b6b5;
}

.menu2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu2__link {
  font-size: 16px;
  margin-right: 31px;
  color: #292c31;
  font-size: 16px;
}

@media (max-width: 785px) {
  .menu2__link {
    display: none;
  }
}

.menu2__btn {
  background: #267ef4;
  color: #ffffff;
}

@media (max-width: 400px) {
  .menu2__btn {
    min-width: 400px;
    border-radius: 0;
    margin-top: 30px;
  }
}

.features {
  padding: 120px 0 40px 0;
  overflow: hidden;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -50px;
}

@media (max-width: 767px) {
  .features__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features__column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 50px;
}

@media (max-width: 767px) {
  .features__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features__title {
  margin: 45px 0 47px 0;
}

@media (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text p {
  margin-bottom: 40px;
  line-height: 150%;
}

@media (max-width: 767px) {
  .features__text p {
    text-align: center;
  }
}

.features__line {
  width: 100%;
  height: 2px;
  background: #f7f3f7;
  margin-top: 125px;
}

.iphone-features {
  overflow: hidden;
  padding-top: 87px;
  padding-bottom: 42px;
}

@media (min-width: 767px) {
  .iphone-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 767px) {
  .iphone-features__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
  }
}

.iphone-features__image img {
  max-width: 100%;
  -webkit-filter: drop-shadow(0px 10px 5px #b7b7b8);
          filter: drop-shadow(0px 10px 5px #b7b7b8);
}

.iphone-features__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 767px) {
  .iphone-features__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.iphone-features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 570px;
}

.iphone-features__title {
  margin-bottom: 73px;
}

.iphone-features__text p {
  margin-bottom: 30px;
}

.iphone-features__buttons {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.iphone-features__blue-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #267ef4;
  color: #fff;
  min-width: 203px;
  padding-right: 19px;
  padding-left: 27px;
  margin-right: 18px;
  font-size: 16px;
}

@media (max-width: 807px) {
  .iphone-features__blue-button {
    margin-bottom: 20px;
  }
}

@media (max-width: 766px) {
  .iphone-features__blue-button {
    margin-bottom: 0;
  }
}

@media (max-width: 403px) {
  .iphone-features__blue-button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
}

.iphone-features__button {
  min-width: 143px;
  border: 1px solid #efebef;
  color: #292831;
  font-size: 16px;
}

@media (max-width: 403px) {
  .iphone-features__button {
    margin-top: 20px;
    width: 100%;
  }
}

.map-feature {
  overflow: hidden;
  padding-top: 206px;
  padding-bottom: 198px;
}

@media (min-width: 767px) {
  .map-feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.map-feature__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 767px) {
  .map-feature__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 766px) {
  .map-feature__content {
    margin-bottom: 50px;
  }
}

.map-feature__body {
  width: 50%;
}

@media (max-width: 766px) {
  .map-feature__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.map-feature__title {
  margin-bottom: 73px;
}

@media (max-width: 766px) {
  .map-feature__title {
    text-align: center;
  }
}

.map-feature__text {
  margin-bottom: 30px;
}

@media (max-width: 766px) {
  .map-feature__text {
    text-align: center;
  }
}

.map-feature__text p {
  margin-bottom: 30px;
}

@media (max-width: 766px) {
  .map-feature__partners {
    text-align: center;
  }
}

.map-feature__subtitle {
  color: #26272d;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.map-feature__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media (max-width: 353px) {
  .map-feature__logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.map-feature__evernote {
  padding: 15px;
}

.map-feature__dropbox {
  padding: 15px;
}

.map-feature__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 767px) {
  .map-feature__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-91%, 0);
            transform: translate(-91%, 0);
  }
}

.map-feature__image img {
  max-width: 100%;
}

.iphone-screens {
  overflow: hidden;
  background-color: #f4f6f7;
  padding-top: 143px;
  padding-bottom: 124px;
}

.iphone-screens__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iphone-screens__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #267df4;
  margin: 43px auto 46px auto;
}

.iphone-screens__subtitle {
  font-size: 12px;
  color: #8c8f94;
  margin-bottom: 46px;
}

.iphone-screens__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 766px) {
  .iphone-screens__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.iphone-screens__images img {
  max-width: 100%;
  -webkit-filter: drop-shadow(0px 20px 10px #b7b7b8);
          filter: drop-shadow(0px 20px 10px #b7b7b8);
}

.iphone-screens__1screen {
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .iphone-screens__1screen {
    -webkit-transform: translate(-83px, 0);
            transform: translate(-83px, 0);
    margin-bottom: 0;
  }
}

.iphone-screens__2screen {
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .iphone-screens__2screen {
    -webkit-transform: translate(-41.5px, 0);
            transform: translate(-41.5px, 0);
    margin-bottom: 0;
  }
}

.iphone-screens__iphone {
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .iphone-screens__iphone {
    margin-bottom: 0;
  }
}

.iphone-screens__3screen {
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .iphone-screens__3screen {
    -webkit-transform: translate(41.5px, 0);
            transform: translate(41.5px, 0);
    margin-bottom: 0;
  }
}

@media (min-width: 767px) {
  .iphone-screens__4screen {
    -webkit-transform: translate(83px, 0);
            transform: translate(83px, 0);
    margin-bottom: 0;
  }
}

.ready-to-buy {
  background-color: #f4f6f7;
  padding-top: 76px;
  padding-bottom: 131px;
  overflow: hidden;
}

.ready-to-buy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ready-to-buy__subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #3a3d4b;
}

.ready-to-buy__subtitle span {
  font-weight: 900;
}

.ready-to-buy__subtitle:nth-child(4) {
  margin-bottom: 21px;
}

.ready-to-buy__title {
  margin: 37px 0 45px 0;
  text-align: center;
}

.ready-to-buy__form {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 503px;
  border: 1px solid #cecbce;
  border-radius: 20px;
  padding: 1px 1px 1px 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 67px;
}

@media (max-width: 507px) {
  .ready-to-buy__form {
    width: auto;
  }
}

@media (max-width: 371px) {
  .ready-to-buy__form {
    width: 100%;
    padding: 1px 1px 1px 1px;
  }
}

.ready-to-buy__form input {
  background-color: #f4f6f7;
}

@media (max-width: 371px) {
  .ready-to-buy__form input {
    padding: 10px 0px;
    margin: 0 auto;
    border-radius: 20px;
  }
}

@media (max-width: 371px) {
  .ready-to-buy__form input::-webkit-input-placeholder {
    text-align: center;
  }
  .ready-to-buy__form input:-ms-input-placeholder {
    text-align: center;
  }
  .ready-to-buy__form input::-ms-input-placeholder {
    text-align: center;
  }
  .ready-to-buy__form input::placeholder {
    text-align: center;
  }
}

.ready-to-buy__btn {
  background-color: #70c755;
  color: #fff;
  font-size: 16px;
}

@media (max-width: 371px) {
  .ready-to-buy__btn {
    width: 100%;
  }
}

.ready-to-buy__btn div img {
  width: 150%;
}

.apple-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 170px;
  color: #fff;
  background: #000;
  font-size: 12px;
  margin: 0 -15px;
}

.apple-button div {
  padding-left: 15px;
  padding-right: 15px;
}

.apple-button span {
  font-size: 20px;
}

.customers {
  padding-top: 119px;
  padding-bottom: 129px;
}

.customers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.customers__images-wrapper {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-width: 0;
  margin-bottom: 75px;
}

.customers__content-wrapper {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.images-slider {
  min-width: 0;
  padding: 0 50px;
  position: relative;
}

.images-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -21.5px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 24px;
  height: 43px;
}

.images-slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/prev-arrow.png") 0 0/100% no-repeat;
}

.images-slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/next-arrow.png") 0 0/100% no-repeat;
}

.images-slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.images-slider__item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  opacity: 0.4;
}

@media (max-width: 810px) {
  .images-slider__item {
    opacity: 1;
  }
}

.images-slider__item img {
  width: 91px;
  border-radius: 50%;
}

@media (max-width: 810px) {
  .images-slider__item img {
    width: 132px;
  }
}

.images-slider__item.slick-center {
  opacity: 1;
}

.images-slider__item.slick-center img {
  width: 132px;
}

.content-slider {
  min-width: 0;
}

.content-slider .slick-list .slick-track {
  text-align: center;
}

.content-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-slider__title {
  font-size: 32px;
  color: #26272D;
  margin-bottom: 48px;
}

.content-slider__text {
  max-width: 554px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 150%;
  font-size: 20px;
}

.content-slider__stars {
  margin-top: 29px;
  margin-bottom: 68px;
}

.content-slider__subtitle {
  font-size: 12px;
  color: #26272D;
  text-transform: uppercase;
}

.subscribe {
  padding-top: 90px;
  padding-bottom: 86px;
}

.subscribe__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__title {
  margin-bottom: 48px;
  text-align: center;
}

.subscribe__form {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 563px;
  border: 1px solid #cecbce;
  border-radius: 20px;
  padding: 1px 1px 1px 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 29px;
}

@media (max-width: 507px) {
  .subscribe__form {
    width: auto;
  }
}

@media (max-width: 371px) {
  .subscribe__form {
    width: 100%;
    padding: 1px 1px 1px 1px;
  }
}

@media (max-width: 371px) {
  .subscribe__form input {
    padding: 10px 0px;
    margin: 0 auto;
    border-radius: 20px;
  }
}

.subscribe__form input::-webkit-input-placeholder {
  font-size: 16px;
}

.subscribe__form input:-ms-input-placeholder {
  font-size: 16px;
}

.subscribe__form input::-ms-input-placeholder {
  font-size: 16px;
}

.subscribe__form input::placeholder {
  font-size: 16px;
}

@media (max-width: 371px) {
  .subscribe__form input::-webkit-input-placeholder {
    text-align: center;
  }
  .subscribe__form input:-ms-input-placeholder {
    text-align: center;
  }
  .subscribe__form input::-ms-input-placeholder {
    text-align: center;
  }
  .subscribe__form input::placeholder {
    text-align: center;
  }
}

.subscribe__btn {
  background-color: #70c755;
  color: #fff;
  font-size: 16px;
}

@media (max-width: 371px) {
  .subscribe__btn {
    width: 100%;
  }
}

.subscribe__text {
  font-size: 14px;
  text-align: center;
}

.footer {
  padding-top: 90px;
  padding-bottom: 220px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -25px;
}

@media (max-width: 813px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__column {
  padding: 0 25px;
}

@media (max-width: 813px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 429px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 285px;
}

@media (max-width: 813px) {
  .footer__content {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  margin-bottom: 34px;
}

.footer__text {
  margin-bottom: 32px;
}

@media (max-width: 813px) {
  .footer__text {
    text-align: center;
  }
}

.footer__btn {
  border-radius: 10px;
  margin: 0px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 813px) {
  .footer__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer__icons {
  margin: 40px -12.5px 0 -12.5px;
}

@media (max-width: 566px) {
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 429px) {
  .footer__icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__icons a {
  padding: 0 12.5px;
}

@media (max-width: 566px) {
  .footer__icons a {
    margin-bottom: 20px;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -32.5px;
}

@media (max-width: 813px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__item {
  max-width: 200px;
  padding: 0 32.5px;
}

@media (max-width: 813px) {
  .footer__item {
    margin-bottom: 10px;
    text-align: center;
  }
}

.footer__subtitle {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer__subtitle a {
  color: #26272D;
}

.footer__list li {
  margin-bottom: 15px;
}

.footer__list li a {
  font-size: 16px;
  color: #8C8F94;
}
