@import "_nullstyle";

.container {
   max-width: 1210px;
   margin: 0 auto;
   padding: 0 20px;
}

h2 {
   color: #26272d;
   font-size: 42px;
}

h3 {
   font-size: 26px;
}

h4 {
   font-size: 12px;
}

p {
   color: #8c8f94;
   font-size: 20px;
}

.btn {
   align-items: center;
   justify-content: center;
   display: flex;
   min-height: 43px;
   min-width: 133px;
   border-radius: 20px;
   &__item {
      padding: 10px 5px;
   }
}

.header {
   background: url("../img/mountain-bg.png") no-repeat;
   background-size: cover;
   padding: 43px 0 0 0;
   overflow: hidden;
   &__row {
      display: flex;
      flex-direction: column;
   }

   &__navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 400px) {
         flex-direction: column;
         align-content: center;
      }
   }

   &__menu {
      display: flex;
   }

   &__logo {
      padding: 0 30px;
      @media (max-width: 425px) {
         padding: 0;
      }
   }

   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      font-size: 62px;
      margin-top: 113px;
      text-align: center;
   }

   &__text {
      max-width: 780px;
      text-align: center;
      font-size: 20px;
      margin-top: 40px;
      color: #8c8f94;
   }

   &__btn {
      border: 1px solid #dedbde;
      color: #26272d;
      margin-top: 41px;
      margin-bottom: 55px;
   }

   &__img {
      margin-bottom: -297px;
   }
}

.menu1 {
   &__burger {
      margin-right: 30px;
      @media (max-width: 400px) {
         margin: 20px 0;
      }
   }

   &__link {
      margin-right: 40px;
      font-size: 16px;
      color: #26272d;
      @media (max-width: 785px) {
         display: none;
      }
   }
   &__link:last-child {
      margin-right: 0;
   }
}
.link-active {
   color: #b5b6b5;
}

.menu2 {
   align-items: center;
   &__link {
      font-size: 16px;
      margin-right: 31px;
      color: #292c31;
      font-size: 16px;
      @media (max-width: 785px) {
         display: none;
      }
   }

   &__btn {
      background: #267ef4;
      color: #ffffff;
      @media (max-width: 400px) {
         min-width: 400px;
         border-radius: 0;
         margin-top: 30px;
      }
   }
}

.features {
   padding: 120px 0 40px 0;
   overflow: hidden;
   &__row {
      display: flex;
      margin: -50px;
      @media (max-width: 767px) {
         flex-direction: column;
      }
   }

   &__column {
      flex-basis: 50%;
      padding: 50px;
      @media (max-width: 767px) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__title {
      margin: 45px 0 47px 0;
      @media (max-width: 767px) {
         text-align: center;
      }
   }

   &__text p {
      margin-bottom: 40px;
      line-height: 150%;
      @media (max-width: 767px) {
         text-align: center;
      }
   }

   &__line {
      width: 100%;
      height: 2px;
      background: #f7f3f7;
      margin-top: 125px;
   }
}

.iphone-features {
   overflow: hidden;
   padding-top: 87px;
   padding-bottom: 42px;
   @media (min-width: 767px) {
      display: flex;
   }

   &__image {
      @media (min-width: 767px) {
         flex: 0 0 50%;
         transform: translate(-100px, 0);
      }
   }

   &__image img {
      max-width: 100%;
      filter: drop-shadow(0px 10px 5px #b7b7b8);
   }

   &__content {
      align-self: center;
      @media (min-width: 767px) {
         flex: 0 0 50%;
      }
   }

   &__body {
      display: flex;
      flex-direction: column;
      max-width: 570px;
   }

   &__title {
      margin-bottom: 73px;
   }

   &__text p {
      margin-bottom: 30px;
   }

   &__buttons {
      margin-top: 74px;
      display: flex;
      flex-wrap: wrap;
   }

   &__blue-button {
      display: flex;
      justify-content: space-between;
      background: #267ef4;
      color: #fff;
      min-width: 203px;
      padding-right: 19px;
      padding-left: 27px;
      margin-right: 18px;
      font-size: 16px;
      @media (max-width: 807px) {
         margin-bottom: 20px;
      }

      @media (max-width: 766px) {
         margin-bottom: 0;
      }

      @media (max-width: 403px) {
         width: 100%;
         justify-content: center;
         margin-right: 0;
      }
   }

   &__button {
      min-width: 143px;
      border: 1px solid #efebef;
      color: #292831;
      font-size: 16px;
      @media (max-width: 403px) {
         margin-top: 20px;
         width: 100%;
      }
   }
}

.map-feature {
   overflow: hidden;
   padding-top: 206px;
   padding-bottom: 198px;
   @media (min-width: 767px) {
      display: flex;
   }
   &__content {
      display: flex;
      align-items: center;
      @media (min-width: 767px) {
         flex: 0 0 100%;
      }
      @media (max-width: 766px) {
         margin-bottom: 50px;
      }
   }

   &__body {
      width: 50%;
      @media (max-width: 766px) {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 100%;
      }
   }

   &__title {
      margin-bottom: 73px;
      @media (max-width: 766px) {
         text-align: center;
      }
   }

   &__text {
      margin-bottom: 30px;
      @media (max-width: 766px) {
         text-align: center;
      }
   }

   &__text p {
      margin-bottom: 30px;
   }

   &__partners {
      @media (max-width: 766px) {
         text-align: center;
      }
   }

   &__subtitle {
      color: #26272d;
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 31px;
   }

   &__logos {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
      @media (max-width: 353px) {
         justify-content: center;
      }
   }

   &__evernote {
      padding: 15px;
      @media (max-width: 353px) {
      }
   }

   &__dropbox {
      padding: 15px;
   }

   &__image {
      display: flex;
      align-items: center;
      @media (min-width: 767px) {
         flex: 0 0 50%;
         transform: translate(-91%, 0);
      }
   }

   &__image img {
      max-width: 100%;
   }
}

.iphone-screens {
   overflow: hidden;
   background-color: #f4f6f7;
   padding-top: 143px;
   padding-bottom: 124px;
   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title::after {
      content: "";
      display: block;
      width: 50px;
      height: 3px;
      background-color: #267df4;
      margin: 43px auto 46px auto;
   }

   &__subtitle {
      font-size: 12px;
      color: #8c8f94;
      margin-bottom: 46px;
   }

   &__images {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 766px) {
         flex-direction: column;
      }
   }

   &__images img {
      max-width: 100%;
      filter: drop-shadow(0px 20px 10px #b7b7b8);
   }

   &__1screen {
      margin-bottom: 20px;
      @media (min-width: 767px) {
         transform: translate(-83px, 0);
         margin-bottom: 0;
      }
   }

   &__2screen {
      margin-bottom: 20px;
      @media (min-width: 767px) {
         transform: translate(-41.5px, 0);
         margin-bottom: 0;
      }
   }

   &__iphone {
      margin-bottom: 20px;
      @media (min-width: 767px) {
         margin-bottom: 0;
      }
   }

   &__3screen {
      margin-bottom: 20px;
      @media (min-width: 767px) {
         transform: translate(41.5px, 0);
         margin-bottom: 0;
      }
   }

   &__4screen {
      @media (min-width: 767px) {
         transform: translate(83px, 0);
         margin-bottom: 0;
      }
   }
}

.ready-to-buy {
   background-color: #f4f6f7;
   padding-top: 76px;
   padding-bottom: 131px;
   overflow: hidden;
   &__row {
      display: flex;
      flex-direction: column;
   }

   &__subtitle {
      text-align: center;
      text-transform: uppercase;
      color: #3a3d4b;
   }

   &__subtitle span {
      font-weight: 900;
   }

   &__subtitle:nth-child(4) {
      margin-bottom: 21px;
   }

   &__title {
      margin: 37px 0 45px 0;
      text-align: center;
   }

   &__form {
      align-self: center;
      display: flex;
      flex-wrap: wrap;
      width: 503px;
      border: 1px solid #cecbce;
      border-radius: 20px;
      padding: 1px 1px 1px 28px;
      justify-content: space-between;
      margin-bottom: 67px;
      @media (max-width: 507px) {
         width: auto;
      }
      @media (max-width: 371px) {
         width: 100%;
         padding: 1px 1px 1px 1px;
      }
   }

   &__form input {
      background-color: #f4f6f7;
      @media (max-width: 371px) {
         padding: 10px 0px;
         margin: 0 auto;
         border-radius: 20px;
      }
   }

   &__form input::placeholder {
      @media (max-width: 371px) {
         text-align: center;
      }
   }

   &__btn {
      background-color: #70c755;
      color: #fff;
      font-size: 16px;
      @media (max-width: 371px) {
         width: 100%;
      }
   }

   &__btn div img {
      width: 150%;
   }
}

.apple-button {
   align-self: center;
   width: 170px;
   color: #fff;
   background: #000;
   font-size: 12px;
   margin: 0 -15px;
}

.apple-button div {
   padding-left: 15px;
   padding-right: 15px;
}

.apple-button span {
   font-size: 20px;
}

.customers {
   padding-top: 119px;
   padding-bottom: 129px;
   &__row {
      display: flex;
      flex-wrap: wrap;
   }

   &__images-wrapper {
      flex-basis: 100%;
      min-width: 0;
      margin-bottom: 75px;
   }

   &__content-wrapper {
      flex-basis: 100%;
      min-width: 0;
   }
}

.slick-list {
   overflow: hidden;
}

.slick-track {
   display: flex;
   align-items: center;
   justify-content: space-between;
}


// ---слайдер фотографий---

.images-slider {
   min-width: 0;
   padding: 0 50px;
   position: relative;

   .slick-arrow {
      position: absolute;
      top: 50%;
      margin: -21.5px 0 0 0;
      z-index: 10;
      font-size: 0;
      width: 24px;
      height: 43px;
   }

   .slick-arrow.slick-prev {
      left: 0;
      background: url("../img/prev-arrow.png") 0 0 / 100% no-repeat;
   }

   .slick-arrow.slick-next {
      right: 0;
      background: url("../img/next-arrow.png") 0 0 / 100% no-repeat;
   }

   .slick-arrow.slick-disabled {
      opacity: 0.2;
   }

   &__item {
      transition: all 0.3s ease 0s;
      text-align: center;
      opacity: 0.4;
      @media (max-width: 810px) {
         opacity: 1;
      }
   }

   &__item img {
      width: 91px;
      border-radius: 50%;
      @media (max-width: 810px) {
         width: 132px;
      }
   }

   &__item.slick-center {
      opacity: 1;
   }

   &__item.slick-center img {
      width: 132px;
   }
}

// ---слайдер с описанием---

.content-slider {
   min-width: 0;

   .slick-list .slick-track {
      text-align: center;
   }

   &__item {
      display: flex;
      flex-direction: column;
   }

   &__title {
      font-size: 32px;
      color: #26272D;
      margin-bottom: 48px;
   }

   &__text {
      max-width: 554px;
      align-self: center;
      line-height: 150%;
      font-size: 20px;
   }

   &__stars {
      margin-top: 29px;
      margin-bottom: 68px;
   }

   &__subtitle {
      font-size: 12px;
      color: #26272D;
      text-transform: uppercase;
   }
}
